<?xml version='1.0' encoding='utf-8'?>
<widget id="com.riskyjumper.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"  xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RiskyJumper</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="StatusBarBackgroundColor" value="#503af5" />

<preference name="ShowSplashScreenSpinner" value="false"/>
       <platform name="android">
<!-- <preference name="android-targetSdkVersion" value="31" /> -->
<!-- <preference name="android-minSdkVersion" value="31" /> -->


<!-- <preference name="android-minSdkVersion" value="22" />
<preference name="android-targetSdkVersion" value="31" />
<preference name="android-compileSdkVersion" value="31" /> -->
<preference name="android-compileSdkVersion" value="31" />

      <icon src="res/icon/android/ldpi.png" density="ldpi" />
      <icon src="res/icon/android/mdpi.png" density="mdpi" />
      <icon src="res/icon/android/hdpi.png" density="hdpi" />
      <icon src="res/icon/android/xhdpi.png" density="xhdpi" />
      <icon src="res/icon/android/xxhdpi.png" density="xxhdpi" />
      <icon src="res/icon/android/xxxhdpi.png" density="xxxhdpi" />

      <splash src="res/screen/android/screenldpi.png" density="ldpi" />
    <splash src="res/screen/android/screenmdpi.png" density="mdpi" />
    <splash src="res/screen/android/screenhdpi.png" density="hdpi" />
    <splash src="res/screen/android/screenxhdpi.png" density="xhdpi" />
    <splash src="res/screen/android/screenxxhdpi.png" density="xxhdpi" />
    <splash src="res/screen/android/screenxxxhdpi.png" density="xxxhdpi" />
    <splash src="res/screen/android/screen-land.png" density="land-ldpi" />
    <splash src="res/screen/android/screen-land.png" density="land-mdpi" />
    <splash src="res/screen/android/screen-land.png" density="land-hdpi" />
    <splash src="res/screen/android/screen-land.png" density="land-xhdpi" />
    <splash src="res/screen/android/screen-land.png" density="land-xxhdpi" />
    <splash src="res/screen/android/screen-land.png" density="land-xxxhdpi" />

</platform>
</widget>